# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.env

# IDE
.idea/
.vscode/

# Platform artifacts
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Generated
pubspec.lock
